apiVersion: v1
kind: Secret
metadata:
  name: chat-secret
stringData:
  GO_CHAT_DB_USERNAME: $GO_CHAT_DB_USERNAME
  GO_CHAT_DB_PASSWORD: $GO_CHAT_DB_PASSWORD
  GO_CHAT_DB_HOST: $GO_CHAT_DB_HOST
  GO_CHAT_DB_PORT: $GO_CHAT_DB_PORT
  GO_CHAT_DATABASE: $GO_CHAT_DATABASE
  GO_CHAT_JWT_KEY: $GO_CHAT_JWT_KEY